parameters:
	database:
		driver: pdo_sqlite
		path: %appDir%/models/db.sqlite

doctrine:
	configurations:
		default: []

	eventManagers:
		default: []

	schemaManagers:
		default: []

	connections:
		default: %database%

	entityManagers:
		default:
			connection: default

	console:
		entityManager: default

	migrations:
		connection: @doctrine.connections.default

services:
	entityManager: @doctrine.entityManagers.default
	eventManager: @doctrine.eventManagers.default
	schemaManager: @doctrine.schemaManagers.default

	doctrine.discriminatorMapDiscoveryListener:
		class: DoctrineModule\Mapping\DiscriminatorMapDiscoveryListener
		tags: [listener]

factories:
	checkConnection: @doctrine.checkConnection